<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Data Source=(localdb)\MSSQLLocalDB; &#xD;&#xA;                           Initial Catalog=lesson7; &#xD;&#xA;                           Integrated Security=True; &#xD;&#xA;                           Pooling=False"


                                         />

  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Employees_serviceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="Employees_serviceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44351/Employees_service.asmx"
        binding="basicHttpBinding" bindingConfiguration="Employees_serviceSoap"
        contract="Employees.Employees_serviceSoap" name="Employees_serviceSoap" />
    </client>
  </system.serviceModel>
</configuration>