<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionString>
    <add name ="DefaultConnection"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;
                           Initial Catalog=lesson7;
                           Integrated Security=True;
                           Pooling=False"/>
  </connectionString>
</configuration>